.wrapper {
  display: grid;
  grid-template-rows: 5em auto 5em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header header header"
  "main main main"
  "footer footer footer";
  /*align-items: start; */
  /*grid-auto-rows: 200px; */
}

header{
    grid-area:header;
}

header,
footer {
    background: black;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;

}
main {
    grid-area: main;
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
    /*grid-auto-rows: minmax(30em, auto); */

}

footer {
    grid-area: footer;
}


.card {
  display: grid;
  grid-template:
    "img title" auto
    "img content" 1fr / 1fr 3fr;
  grid-column-gap: 1.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  padding: 1.5em;
  margin: 1em 0.5em 1em 0.5em
}

.card-img {
  grid-area: img;
  max-width: 100%;
}

.card-title {
  grid-area: title;
  font-weight: 300;
}

.card-content {
  grid-area: content;
}

input {
  margin: 5px;
}

textarea {
  width: 300px;
  height: 150px;
  padding: 1px;
  margin: 5px;
}

/*
.card {
    grid-area: card;
    display: grid;
    grid-template: "img title" min-content "img content" auto / 1fr 3fr;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "img title" "img content"
}

.card-image {
    grid-area: img;
    background: pink;
}

.card-title {
    grid-area: title;
    background: blue;
    margin: 0;
}

.card-content {
    grid-area: content;
    background: green;
}
*/
